.styledInput {
  min-height: 36.75px;
  outline: none;
  border: none;
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 0.5rem 1.3rem;
  color: white;
  resize: none;
  width: 100%;
  margin: 1rem auto 0;
  font-family: "Raleway" !important;
  font-size: 0.9rem;
}
button {
  font-family: "Raleway";
  border: 0.1rem solid #707070;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.75rem;
  font-family: "Raleway", sans-seriff;
}
textarea {
  font-family: "Raleway", sans-seriff;
  font-weight: 500;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.75rem;
  font-family: "Raleway", sans-seriff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.75rem;
  font-family: "Raleway", sans-seriff;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.8rem;
  font-family: "Raleway", sans-seriff;
}
.grid2 {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
}
.gray {
  color: gray;
}
.dropzone {
  height: 8rem;
  margin: 1rem;
  padding: 1rem;
  border: 2px dashed salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.active {
  border: 2px solid rebeccapurple;
}
.none {
  display: none;
}
